.checkout-container {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(8, 1fr);
}

.checkout-information-container {
    grid-column-start: 1;
    grid-column-end: 6;
}

.checkout-summary-container {
    padding: 20px;
    grid-column-start: 6;
    grid-column-end: -1;
}

.account-container {
    padding-left: 20px;
    padding-right: 20px;
}